#content-info {
  background-color: var(--shadow);
  grid-area: footer;
  margin-block-start: var(--spacer);
  padding-block: var(--spacer);

  footer {
    --column: extra;
  }

  time {
    font-style: normal;
  }
}
