#topbar {
  grid-area: nav;

  header {
    --column: extra;
    align-items: baseline;
    display: grid;
    gap: var(--gap);
    grid-template: 'nav theme' auto / 1fr auto;
  }

  tag-nav {
    grid-area: nav;
  }

  [data-set=theme] {
    grid-area: theme;
    font-size: var(--small);
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--shim);
  justify-content: start;

  @container (inline-size > 60ch) {
    column-gap: var(--gap);
  }

  a {
    &:any-link {
      display: inline-block;
      flex: none;
      position: relative;
      text-align: center;
      text-decoration: none;
    }

    &[aria-current='page'] {
      text-decoration: revert-layer;
      text-decoration-style: solid;
    }

    &:focus,
    &:hover,
    &:active {
      text-decoration: revert-layer;
      text-decoration-style: wavy;
    }
  }
}
