#page-header {
  --column: extra;
  --banner-border: 2px solid var(--border);
  --logo-height: var(--spacer);

  &:first-child {
    margin-block-start: var(--spacer);
  }

}

.pre-header,
.post-header {
  --link-color: currentColor;
  align-items: center;
  display: flex;
  gap: 1ch;
  margin: 0;

  &::before,
  &::after {
    border-bottom: var(--banner-border);
    flex: 1;
  }
}

.pre-header::after {
  content: '';
}

.post-header::before {
  content: '';
}

title-group {
  --title-space: calc(var(--gap) * 2);
  display: block;
  padding-block: calc(var(--title-space) - 1em);

  &:first-child {
    border-top: var(--banner-border);
    padding-block-start: var(--title-space);
  }

  &:last-child {
    border-bottom: var(--banner-border);
    padding-block-end: var(--title-space);
  }
}

h1 {
  font-size: var(--h1);
  margin-block: 0;
  line-height: normal;

  @supports (-webkit-background-clip: text) {
    background: linear-gradient(to bottom right, var(--feature));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: max-content;
  }
}

.subtitle {
  margin-block-end: 0.5em;
}
