#summary {
  --column: wide;
  font-size: var(--xlarge);
  font-style: italic;
  margin-block: var(--spacer);

  code {
    font-style: normal;
  }

  em {
    background: var(--mark-bg, var(--shadow));
    text-shadow: 0 1px 0 var(--full-bg);
  }
}
