a {
  &:any-link {
    color: var(--accent);
    text-underline-offset: 0.12em;
    text-decoration-color: var(--border);
  }

  &:focus,
  &:hover,
  &:active {
    text-decoration-style: wavy;
  }
}

:focus-visible {
  outline: medium double var(--border, currentColor);
  outline-offset: 0.25em;
}
