html {
  --gap: clamp(12px, 10px + 2vi, 24px);
  --shim: calc(var(--gap) / 2);
  --double: calc(var(--gap) * 2);
  --spacer: min(var(--double) + 3vi, var(--gap) * 5);

  --bg: Canvas;
  --text: CanvasText;
  --accent: LinkText;
  --accent-text: var(--bg);
  --feature: ActiveText;
  --border: gray;
  --shadow: black;
  --full-bg: var(--bg);
  --mark: Highlight;

  /* from https://modernfontstacks.com/ */
  --fonts-serif--: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --fonts-sans--:  system-ui, sans-serif;
  --fonts-slab--: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  --fonts-code--: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --emoji-font: 'Twemoji Mozilla', Apple Color Emoji, 'Segoe UI Emoji', 'Noto Color Emoji', 'EmojiOne Color';

  accent-color: var(--accent, accentColor);
  background: var(--bg-texture, var(--bg));
  background-blend-mode: var(--bg-blend, luminosity);
  background-size: cover;
  color: var(--text);
  color-scheme: var(--color-scheme, light dark);
  font-family: var(--body-font, unset);
  font-variant-numeric: oldstyle-nums;
  line-height: 1.5;
}

body {
  font-size: max(1em, 0.9em + var(--fluid-scale, 0vi));
  margin: 0;
  padding: var(--gap, 12px);
}

header,
footer,
main,
nav,
aside,
section,
form {
  margin-block: var(--gap, 1lh);
  container: layout / inline-size;
}

main {
  font-size-adjust: from-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font, unset);
  font-weight: normal;
  text-wrap: pretty;
}

[item-title] {
  display: inline-block;
  font-size: inherit;
}

d-i {
  display: block;
  margin-block: var(--shim);
}

dt::after {
  content: ' – ';
}

d-i dd {
  margin-inline: unset;
}

ul, ol {
  padding-inline: var(--list-indent, 2ch) 0;

  @container (inline-size < calc(100vi - 6ch)) {
    --list-indent: 0;
  }

  :is(li) & {
    --list-indent: initial;
  }
}

[role=list] {
  --list-indent: 0;
  list-style: none;
  margin-block: unset;
}

p, li {
  hanging-punctuation: first last;
  text-wrap: pretty;
}

pre, code, output, samp {
  font-family: var(--code-font, revert);
}

abbr, p-category, dt {
  font-variant-caps: all-small-caps;
  letter-spacing: 0.05em;
}

table {
  font-variant-numeric: tabular-nums;
}

hr {
  border-block-start: thin dotted var(--border);
  margin-block: var(--spacer);

  [id=content] & {
    border: unset;
  }
}

[id=content] hr,
[content-break] {
  &::before {
    color: var(--border);
    content: '~ & & & ~';
    content: '~ & & & ~' / '';
    display: block;
    font-family: var(--ui-font, unset);
  }
}

[content-break]::before {
  margin-block: var(--spacer) var(--gap);
}

caption,
figcaption,
small {
  font-family: var(--ui-font, unset);
}

svg {
  fill: currentColor;
}

[data-icon] {
  display: inline-block;
  inline-size: 1em;
  vertical-align: middle;
}

emo-ji {
  display: inline-block;
  filter: drop-shadow(1px 1px 0 var(--full-bg, Canvas));
  font-family: var(--emoji-font);
  font-synthesis: none;
}

@container style(--italic) {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    strong {
      background: var(
        --text-gradient,
        linear-gradient(
          to bottom right,
          var(--accent),
          var(--feature)
        )
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      max-inline-size: max-content;
    }
  }

  em {
    background: linear-gradient(
      100deg,
      transparent calc(0.5ch - 1px),
      var(--mark, var(--bg)) 0.5ch calc(100% - 0.2ch),
      transparent calc(100% - 0.2ch + 1px)
    ) bottom / 100% 1cap no-repeat;
    text-shadow: 1px 1px 0 var(--bg);
  }
}

p-note, p-role {
  font-style: italic;
}
