html {
  --gap: clamp(12px, 10px + 2vi, 24px);
  --shim: calc(var(--gap) / 2);
  --spacer: 3lh;

  @supports (gap: round(1px, 1em)) {
    --spacer: min(round(down, 2lh + 1vi, 0.5lh), 5lh);
  }

  --bg: Canvas;
  --text: CanvasText;
  --accent: LinkText;
  --accent-text: var(--bg);
  --feature: ActiveText;
  --border: gray;
  --shadow: black;
  --full-bg: var(--bg);
  --mark: Highlight;

  /* from https://modernfontstacks.com/ */
  --fonts-serif--: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --fonts-sans--:  system-ui, sans-serif;
  --fonts-slab--: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  --fonts-code--: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --emoji-font: 'Twemoji Mozilla', Apple Color Emoji, 'Segoe UI Emoji', 'Noto Color Emoji', 'EmojiOne Color';

  accent-color: var(--accent, accentColor);
  background: var(--bg-texture, var(--bg));
  background-blend-mode: var(--bg-blend, luminosity);
  background-size: cover;
  color: var(--text);
  color-scheme: var(--color-scheme, light dark);
  font-family: var(--body-font);
  font-size: var(--font-size-auto);
  font-variant-numeric: oldstyle-nums;
  line-height: 1.5;
}

body {
  font-size: max(1em, 0.9em + var(--fluid-scale, 0.5vi));
  margin: unset;
  padding: var(--gap, 12px);
}

header,
footer,
main,
nav,
aside,
section,
form {
  margin-block: 1lh;
  container: layout / inline-size;
}

main {
  font-size-adjust: from-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  font-weight: normal;
  text-wrap: pretty;
}

[data-flow] {
  display: grid;
  gap: var(--flow-gap, 0);
}

[data-flow=block] {
  --flow-gap: 0.5lh;
}

[list-item] {
  display: block;

  * { margin: unset; }

  :is(h2, h3, h4) {
    display: inline-block;
    font-weight: normal;
  }
}

item-meta {
  font-family: var(--ui-font);
}

p-category {
  background-color: var(--feature);
  border-radius: 3px;
  color: var(--bg);
  padding-inline: var(--shim);
}

d-i {
  display: block;
  margin-block: 0.5lh;
}

dd + dt {
  margin-block-start: 0.5lh;
}

dt::after {
  content: ' –';
  content: ' –' / '';
}

dd {
  margin-inline: unset;
}

ul, ol {
  padding-inline: var(--list-indent, 2ch) 0;

  @container (inline-size < calc(100vi - 6ch)) {
    --list-indent: 0;
  }

  :is(li) & {
    --list-indent: initial;
  }
}

li + li,
dd + dd {
  margin-block-start: var(--list-item-space, 0.25lh);
}

[role=list] {
  --list-indent: 0;
  --list-item-space: 0;
  list-style: none;
  margin-block: unset;
}

p, li {
  hanging-punctuation: first last;
  text-wrap: pretty;
}

pre, code, output, samp {
  font-family: var(--code-font, revert);
}

pre {
  border-inline-start: var(--shim) solid var(--border);
  margin-inline-start: var(--code-outset, 0);
  overflow: auto;
  padding-inline-start: var(--gap);

  @container (inline-size < calc(100vi - 6ch)) {
    --code-outset: calc(var(--gap) * -1.5);
  }
}

abbr, p-category, dt {
  font-variant-caps: all-small-caps;
  font-weight: 450;
  letter-spacing: 0.05em;
}

table,
table-like {
  font-variant-numeric: tabular-nums;
}

table-like {
  display: table;
  inline-size: 100%;
}

t-r { display: table-row; }
t-h, t-d { display: table-cell; }

t-d {
  background-color: var(--cell-color);
}

hr {
  border-block-start: thin dotted var(--border);
  margin-block: var(--spacer) 1lh;

  [id=content] & {
    border: unset;
    height: unset;
  }
}

[id=content] hr,
[content-break] {
  &::before {
    color: var(--border);
    content: var(--hr);
    content: var(--hr) / '';
    display: block;
    font-family: var(--ui-font);
  }
}

[content-break]::before {
  margin-block: var(--spacer) 1lh;
}

figure {
  display: grid;
  row-gap: 0.5lh;
}

iframe {
  display: block;
  width: 100%;
}

caption,
figcaption,
small {
  font-family: var(--ui-font);
}

svg {
  fill: currentColor;
}

[data-icon] {
  display: inline-block;
  inline-size: 1em;
  vertical-align: middle;
}

emo-ji {
  display: inline-block;
  filter: drop-shadow(1px 1px 0 var(--full-bg, Canvas));
  font-family: var(--emoji-font);
  font-synthesis: none;
}

@container style(--italic) {
  em {
    background: var(--em-background,
      linear-gradient(
        100deg,
        transparent calc(0.5ch - 1px),
        var(--mark, var(--bg)) 0.5ch calc(100% - 0.2ch),
        transparent calc(100% - 0.2ch + 1px)
      ) bottom / 100% 1cap no-repeat);
    color: var(--em-color, currentColor);
    text-shadow: 1px 1px 0 var(--em-shadow, var(--bg));
  }
}

p-note, p-role {
  font-style: italic;
}

code[style*=--color-tile] {
  &::before {
    aspect-ratio: 1;
    background:
      linear-gradient(var(--color-tile) 0 100%),
      linear-gradient(45deg, black 50%, white 50%);
    border: thin solid;
    content: '';
    display: inline-block;
    inline-size: 1cap;
    margin-inline-end: 0.5ch;
  }
}
