html {
  --minor-second: calc(16/15);
  --major-second: calc(9/8);
  --minor-third: calc(6/5);
  --major-third: calc(5/4);
  --perfect-fourth: calc(4/3);
  --augmented-fourth: sqrt(2);
  --perfect-fifth: calc(3/2);
  --major-sixth: calc(5/3);

  --font-scale-ratio: var(
    --user-scale-ratio,
    var(--theme-scale-ratio, var(--minor-third))
  );
  --fluid-raw: var(--user-fluid, 0.3);
  --font-fluid: calc(var(--fluid-raw) * 1vi);
  --font-fluid-base-factor: calc(var(--fluid-raw) * 3px);
  --scale-medium: calc(1rem - var(--font-fluid-base-factor));
  --font-fluid-ratio: 1.5;

  --gap: clamp(8px, 1em, 3vi);
  --half-gap: calc(var(--gap) / 2);
  --shim: calc(var(--gap) / 4);
  --spacer: 3lh;

  @supports (gap: round(1px, 1em)) {
    --gap: round(up, 2cqi, 0.25lh);
    --spacer: min(round(down, 2lh + 1vi, 0.5lh), 5lh);
  }

  --bg: Canvas;
  --text: CanvasText;
  --accent: AccentColor;
  --accent-text: AccentColorText;
  --feature: ActiveText;
  --border: gray;
  --shadow: black;
  --full-bg: var(--bg);
  --mark: AccentColor;
  --mark-text: AccentColorText;

  /* from https://modernfontstacks.com/ */
  --fonts-serif--: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --fonts-sans--:  system-ui, sans-serif;
  --fonts-slab--: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  --fonts-code--: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --emoji-font: 'Twemoji Mozilla', Apple Color Emoji, 'Segoe UI Emoji', 'Noto Color Emoji', 'EmojiOne Color';

  accent-color: var(--accent, accentColor);
  background: var(--bg-texture, var(--bg));
  background-blend-mode: var(--bg-blend, luminosity);
  background-size: cover;
  color: var(--text);
  color-scheme: var(--color-scheme, light dark);
  font-family: var(--body-font);
  font-size: var(
    --font-size,
    clamp(1em, var(--theme-base-size, 16px), 1.25em)
  );
  font-size-adjust: from-font;
  font-variant-numeric: oldstyle-nums;
  line-height: 1.5;
  text-shadow: 1px 1px 0 var(--full-bg);
}

body {
  --scale-small: calc(
    var(--scale-medium) * pow(var(--font-scale-ratio), -0.125)
  );
  --scale-large: calc(
    var(--scale-medium) * pow(var(--font-scale-ratio), 1)
  );
  --scale-x-large: calc(
    var(--scale-medium) * pow(var(--font-scale-ratio), 2)
  );
  --scale-xx-large: calc(
    var(--scale-medium) * pow(var(--font-scale-ratio), 3)
  );

  --fluid-small: calc(
    var(--font-fluid) * pow(var(--font-fluid-ratio), -0.125)
  );
  --fluid-medium: var(--font-fluid);
  --fluid-large: calc(
    var(--font-fluid) * pow(var(--font-fluid-ratio), 1)
  );
  --fluid-x-large: calc(
    var(--font-fluid) * pow(var(--font-fluid-ratio), 2)
  );
  --fluid-xx-large: calc(
    var(--font-fluid) * pow(var(--font-fluid-ratio), 3)
  );

	--small: calc(var(--scale-small) + var(--fluid-small));
  --medium: calc(var(--scale-medium) + var(--fluid-medium));
  --large: calc(var(--scale-large) + var(--fluid-large));
  --x-large: calc(var(--scale-x-large) + var(--fluid-x-large));
  --xx-large: calc(var(--scale-xx-large) + var(--fluid-xx-large));

  --line-length: calc(var(--measure, 30) * 1em);
  --wide-column: minmax(0, clamp(0px, var(--wide-slope, 10vi) - 60px, var(--wide-max, 4em)));

  font-size: var(--medium);
  margin: unset;
  padding: var(--gap, 12px);
  display: grid;
  grid-template-columns:
    [full-start] var(--margin-left, minmax(0, 1fr))
    [wide-start] var(--wide-left, var(--wide-column))
    [content-start] minmax(min-content, var(--line-length)) [content-end]
    var(--wide-right, var(--wide-column)) [wide-end]
    var(--margin-right, minmax(0, 1fr)) [full-end]
  ;

  > * { grid-column: content; }
}

[data-align=left] {
  --margin-left: minmax(0, 0.25fr);
  --wide-left: 0;
  --wide-max: 10em;
  --wide-slope: 16vi;
}

[data-align=evil] {
  --margin-right: 0;
  --wide-right: 0;
  --wide-max: 12em;
  --wide-slope: 16vi;
}

header,
footer,
aside,
section,
form {
  margin-block: 1lh;
  container: layout / inline-size;

  & > :first-child {
    margin-block-start: unset;
  }

  & > :last-child {
    margin-block-end: unset;
  }
}

main {
  display: grid;
  font-size-adjust: from-font;
  grid-column: full;
  grid-template-columns: inherit;

  > * { grid-column: content; }
  > hr { grid-column: full; }
}

call-out {
  display: block;
  margin-block: 1lh;
}

svg {
  fill: currentColor;
}

@media (width > 30em) {
  [data-media=narrow] { display: none !important; }
}

@media (width < 25em) {
  [data-media=mid] { display: none !important; }
}

@media (width < 40em) {
  [data-media=wide] { display: none !important; }
}
