form-field {
  display: grid;
  margin-block: 0.5lh;
}

label {
  font-variant-caps: all-small-caps;
  font-weight: 450;
}

input:where([text-input]),
textarea {
  background: var(--full-bg);
  border: thin solid var(--border);
  font-family: var(--ui-font);
  padding: var(--shim);

  &:user-invalid {
    border-color: var(--accent);
  }
}

textarea {
  min-block-size: 4lh;
  field-sizing: content;
}
