a {
  &:any-link {
    color: var(---link-state, var(--link-color, currentColor));
  }

  &:where(:any-link),
  & link-text {
    text-decoration: underline;
    text-decoration-color: var(---link-line-color, var(--border));
    text-decoration-style: var(---link-line-style, solid);
    text-decoration-thickness: calc(1px + 0.04em);
    text-underline-offset: 0.12em;
  }

  &:focus,
  &:hover,
  &:active {
    ---link-line-color: var(--feature);
    ---link-line-style: wavy;
    ---go-go-go: -3px;
  }

  &:is([href*='://'], [href^=mailto]):not(:has(img)) {
    &::after {
      content: '↑';
      content: '↑' / '';
      display: inline-block;
      font-family: var(--fonts-sans, var(--fonts-sans--));
      font-style: normal;
      margin-inline-start: 0.1ch;
      transform: rotate(0.1turn) translateY(var(---go-go-go, 0));
      transition: transform 150ms ease-out;
    }
  }

  &:has(link-text) {
    display: inline-block;
    text-decoration: none;
  }

  &[aria-current=page] {
    ---link-line-style: dotted;
    ---link-state: currentColor;
  }

  &[skip-link] {
    background: var(--accent, accentColor);
    color: var(--bg, accentColorText);
    display: block;
    inset: 0 auto auto 0;
    margin: var(--gap);
    outline-color: var(--border, currentColor);
    padding: var(--shim);
    position: fixed;
    text-align: center;
    text-decoration-color: currentColor;
    z-index: 2;

    &:not(:focus) {
      translate: -100% 0;
      opacity: 0;
      pointer-events: none;
    }
  }
}
