a {
  &:any-link {
    color: var(---link-state, var(--link-color, revert-layer));
  }

  &:where(:any-link),
  & link-text {
    text-decoration: underline;
    text-decoration-color: var(---link-line-color, var(--border));
    text-decoration-style: var(---link-line-style, solid);
    text-decoration-thickness: calc(1px + 0.04em);
    text-underline-offset: 0.12em;
  }

  &:focus,
  &:hover,
  &:active {
    ---link-line-color: var(--feature);
    ---link-line-style: wavy;
    ---go-go-go: 3px -3px;
  }

  &:is([href*='://'], [href^=mailto]):not(:has(img)) {
    &::after {
      content: '↗';
      content: '↗' / '';
      display: inline-block;
      font-family: var(--ui-font, var(--fonts-sans--));
      font-size: smaller;
      font-style: normal;
      padding-inline: 0.2ch;
      margin-inline-start: 0.1ch;
      translate: var(---go-go-go, 0);
      transition: translate 150ms ease-out;
    }
  }

  &:has(link-text) {
    display: inline-block;
    text-decoration: none;
  }

  &[aria-current=page] {
    ---link-line-style: dotted;
    ---link-state: currentColor;
  }
}
