html {
  --font-size-auto: initial;

  --text-gradient--: linear-gradient(
    179deg,
    var(--accent) calc(0.8em - 1px),
    var(--text) calc(0.8em - 1px) 0.8em,
    var(--feature) 0.8em
  );
  --text-gradient: var(--text-gradient--);
  --bg-gradient: linear-gradient(
    to bottom right,
    var(--bg),
    var(--full-bg) 200%
  ) no-repeat fixed;

  --theme-texture: var(--bg-gradient);
  --bg-texture: var(--theme-texture);

  --body-font: serif;
  --ui-font: sans-serif;
  --code-font: monospace;

  --hr: '<!-- horizontal rule -->';

  filter:
    brightness(var(--filter-brightness))
    contrast(var(--filter-contrast))
    hue-rotate(calc(var(--filter-hue, 0) * 1deg))
    sepia(var(--filter-sepia))
    blur(calc(var(--filter-blur, 0) * 1px))
  ;

  @supports (fill: light-dark(red, red)) {
    --full-bg: light-dark(white, black);
  }
}

[data-theme=mia] {
  --font-size-auto: max(1em, 20px);

  --body-font: var(--fonts-serif, var(--fonts-serif--));
  --title-font: var(--fonts-serif, var(--fonts-serif--));
  --code-font: var(--fonts-code, var(--fonts-code--));
  --ui-font: var(--fonts-sans, var(--fonts-sans--));
  --theme-texture:
    var(--bg-gradient),
    url('/img/_site/paint.jpg') no-repeat fixed
  ;

  --hr: '~ & & & ~';
  --list-marker: '~ ';

  --link-color: currentColor;
  ---link-line-color: var(--accent);
  --border: cadetBlue;

  @supports (fill: light-dark(red, red)) {
    --bg: light-dark(
      color-mix(in oklch, powderblue, oklch(1 0 none) 75%),
      color-mix(in oklch, darkSlateGray, oklch(0 0 none) 50%)
    );
    --text: light-dark(#111, lavender);
    --accent: light-dark(mediumVioletRed, hotPink);
    --feature: light-dark(teal, cyan);
    --mark: color-mix(
      in oklch,
      var(--accent),
      light-dark(oklch(1 0 none), oklch(0 0.2 none)) 75%
    );
  }

  :is(h1) {
    font-size: calc(1.5em + 1cqi);
  }

  :is(h2) {
    font-size: calc(1em + 1cqi);
  }

  :is(h3) {
    font-size: inherit;
    font-weight: normal;
  }

  @supports (background-clip: text) {
    :is(h1),
    [id=content] hr::before,
    [content-break]::before {
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-fill-color: transparent;
      background: var(--text-gradient);
      background-clip: text;
      text-shadow: none;
    }
  }
}

[data-theme=terminal] {
  --line-length: 30em;
  --body-font: var(--fonts-code, var(--fonts-code--));
  --title-font: var(--fonts-code, var(--fonts-code--));
  --code-font: var(--fonts-code, var(--fonts-code--));
  --ui-font: var(--fonts-code, var(--fonts-code--));

  --hr: '>>>>>>>>> _';
  --list-marker: '> ';
  --link-color: currentColor;

  @supports (fill: light-dark(red, red)) {
    --theme-texture:
      repeating-linear-gradient(
        to bottom,
        light-dark(#3C31, #2821) 0 2px,
        transparent 4px 1cap
      ) no-repeat fixed,
      repeating-linear-gradient(
        to bottom,
        light-dark(#3C32, #2821),
        light-dark(#3C31, transparent),
        light-dark(#3C32, #2821) 13em
      ) no-repeat fixed,
      var(--bg-gradient)
    ;
    --bg-blend: normal;

    --bg: light-dark(
      color-mix(in oklch, forestGreen, oklch(1 0 none) 90%),
      color-mix(in oklch, darkGreen, oklch(0 0 none) 65%)
    );
    --accent: light-dark(forestGreen, lime);
    --text: light-dark(darkGreen, limeGreen);
    --feature: var(--accent);
    --border: var(--text);
    --mark: var(--bg);
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: bold;
  }

  :is(h1, h2) {
    text-transform: uppercase;
  }
}

[data-theme=copier] {
  --line-length: 30em;
  --body-font: var(--fonts-sans, var(--fonts-sans--));
  --title-font: var(--fonts-sans, var(--fonts-sans--));
  --code-font: var(--fonts-code, var(--fonts-code--));
  --ui-font: var(--fonts-sans, var(--fonts-sans--));

  --hr: '!! #@*% !!';
  --list-marker: '☞ ';
  --link-color: currentColor;

  @supports (fill: light-dark(red, red)) {
    --theme-texture:
      linear-gradient(
        to bottom right,
        var(--bg),
        color-mix(in lch, var(--full-bg), lch(none none none / 0.6))
      ) no-repeat fixed,
      url('/img/_site/photocopy.jpg') no-repeat fixed
    ;
    --bg-blend: normal;

    --bg: light-dark(#eee, #111);
    --accent: var(--text);
    --text: light-dark(black, white);
    --feature: var(--accent);
    --border: var(--text);
    --mark: var(--bg);

    --em-background: var(--text);
    --em-color: var(--bg);
    --em-shadow: var(--text);
  }

  :is(h1, h2, h3, h4, h5, h6) {
    --border: currentColor;
    background: var(--text);
    color: var(--bg);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
  }

  [id=content] hr::before,
  [content-break]::before {
    background: var(--text);
    color: var(--bg);
    font-weight: bold;
    max-inline-size: max-content;
    text-shadow: none;
  }
}
