[data-btn] {
  background: transparent;
  border: var(--btn-border, 0);
  padding: var(--btn-padding, 0);
  font-size: 0.75em;
}

[data-btn='text'] {
  --btn-padding: 0.25em 0.75em;
  --btn-border: thin solid var(--accent);
  border-radius: 0.25em;

  &:hover,
  &:active {
    border-color: var(--border);
  }
}

[data-btn='icon'] {
  font-style: normal;
  transition: filter 100ms ease;

  &:hover,
  &:active {
    filter: drop-shadow(
      var(--btn-press, 0.125em)
      var(--btn-press, 0.125em)
      0
      var(--accent)
    );
  }

  &:active {
    --btn-press: 1px;
  }
}

toggle-group {
  --toggle-group-radius: 0.125em;
  align-items: stretch;
  border: thin solid var(--accent);
  border-radius: var(--toggle-group-radius);
  display: flex;

  button {
    background: transparent;
    border: 0;
    color: inherit;
    flex: auto;
    padding: 0.125em 0.75em;
  }

  button + button {
    border-inline-start: inherit;
  }
}

[aria-pressed=true] {
  background: var(--accent);
  color: var(--on-accent);
}
