[data-favicon],
svg {
  max-inline-size: 100%;
}

logo-icon [data-logo],
[data-favicon] {
  aspect-ratio: auto;
  block-size: var(--logo-height, 1em);
  inline-size: auto;
  margin-inline-end: 0.2em;
  vertical-align: middle;
}
