@mixin vars {
  --accent-light: hotpink;
  --complement-light: powderblue;
  --on-accent-light: black;
  --border-light: cadetblue;
  --shadow-light: lavenderblush;
  --full-bg-light: white;

  --accent-dark: mediumvioletred;
  --on-accent-dark: white;
  --complement-dark: teal;
  --border-dark: darkcyan;
  --full-bg-dark: black;
  --shadow-dark: var(--full-bg-dark);

  --accent: var(--accent-light);
  --complement: var(--complement-light);
  --on-accent: var(--on-accent-light);
  --border: var(--border-light);
  --shadow: var(--shadow-dark);
  --full-bg: var(--full-bg-dark);

  --feature:
    var(--accent),
    var(--complement),
    var(--accent)
  ;

  --mark-gradient: linear-gradient(
    -85deg,
    transparent,
    var(--mark, var(--shadow)) 5% 95%,
    transparent
  );
  --mark-bg: var(--mark-gradient) no-repeat 0 100% / 100% 55%;


  &[data-theme=dark] {
    color-scheme: dark;
  }

  &[data-theme=light] {
    color-scheme: light;
    --accent: var(--accent-dark);
    --on-accent: var(--on-accent-dark);
    --complement: var(--complement-dark);
    --border: var(--border-dark);
    --shadow: var(--shadow-light);
    --full-bg: var(--full-bg-light);
  }
}
