org-list {
  --column: wide;
  display: grid;
  gap: var(--gap);
}

org-item {
  display: grid;
  grid-template:
    'logo name' auto
    'note note' auto
    / auto minmax(min-content, 1fr);

  @container (inline-size > 50ch) {
    --logo-height: 2em;
    grid-template:
      'logo name' auto
      'logo note' auto
      / var(--wide-column) minmax(min-content, 1fr);
  }

  .p-logo {
    align-self: center;
    grid-area: logo;
    justify-self: end;
    margin-inline-end: var(--shim);
  }

  .p-name,
  .p-note {
    margin: 0;
  }

  .p-note {
    grid-area: note;
    font-style: italic;
  }
}
