---
layout: false
permalink: feed.xml
eleventyExcludeFromCollections: true
---
{%- set runningFooter -%}
  <hr />
  <p>
    Reply via
    <a href="mailto:{{ me.email }}">Email</a>
    | <a href="{{ me.mastodon.url }}">Mastodon</a>
    | <a href="{{ me.bluesky.url }}">Bluesky</a>
  </p>
{%- endset -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ site.language or page.lang }}">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(baseURL) }}" rel="self" />
  <link href="{{ baseURL | addPathPrefixToFullUrl }}" />
  <updated>{{ collections.feed | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ baseURL | addPathPrefixToFullUrl }}</id>
  <author>
    <name>{{ site.author }}</name>
    <email>{{ me.email.name }}</email>
  </author>
  {%- for post in collections.feed | reverse %}
  {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(baseURL) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.data.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
      {{ post.content | renderTransforms(post.data.page, baseURL) }}
      {{ runningFooter }}
    </content>
  </entry>
  {%- endfor %}
</feed>
